@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(58, 12, 185);
    background-size: auto;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px rgba(22, 2, 77, 0.397);
    padding: 10px;
}